* whitespace=-blank-at-eof
*.pdf binary
*.xlsx binary
*.xls binary
*.mp3 binary
data/** -whitespace
docs/** -whitespace
app/appliances/** -whitespace
features/appliances/** whitespace=-blank-at-eof,-trailing-space
